.volumeSettingsItemContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.volumeSettingsItem {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    width: 350px;
}

.volumeSettingsLabel {
    width: 150px;
}