.tooltip-text {
    background-color: var(--dark-grey);
    color: var(--white);
    border: 1px solid var(--light-grey);
    text-align: center;
    padding: 5px;
    position: fixed;
    z-index: 1;
    opacity: 0.9;
    pointer-events: none;
}