.colorSettingsItemContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.colorSettingsItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
}

.colorSettingsBox {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
}

.colorSettingsName {
    width: 30px;
}

.colorSettingsInput {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.colorSettingsInput.invalid {
    border-color: red;
    outline-color: red;
}   