@font-face {
    font-family: permanentMarker;
    src: url('../../assets/PermanentMarker.ttf') format('truetype');
}

@font-face {
    font-family: bruceForever;
    src: url('assets/BruceForever.ttf') format('truetype');
}

/* #stepList {
    position: relative;
    box-sizing: border-box;

    width: 270px;
    height: 250px;

    padding: 10px;
    margin: 20px;
    margin-left: 0;

    box-shadow: 
        0 10px 10px -5px #0b0b0b,
        25px 30px 10px -25px #434343,
        -25px 30px 10px -25px #434343;

    background: #f1f83d;
} */


#stepListTitle {
    margin: 0;

    font-family: bruceForever;
    font-size: 30px;
}

#stepListItemContainer {
    display: flex;
    align-items: center;

    margin: 30px;

    width: 350px;

    /* border: 1px solid red; */
}

.stepListItem {
    box-sizing: border-box;

    height: 10px;
    float: left;

    border: 1px solid black;
}

.stepListItem.activeStepListItem {
    height: 20px;
}