#stepDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    box-sizing: content-box;

    width: 500px;
    height: 150px;

    margin-top: 20px;

    background-color: #545c5d;
    border: 2px solid #253335;
    border-radius: 30px;

    box-shadow: 
        0 0 10px black inset,
        0 0 30px black;
}

#stepDisplayRow {
    display: flex;
    justify-content: space-between;

    width: 90%;
    height: 20%;
}

#stepDisplayTitle {
    margin: 0;

    width: 30%;
    height: 100%;

    background-color: #d0c449;

    border: 2px solid #253335;
    border-radius: 5px;

    box-shadow: 
        0 0 5px black inset,
        0 0 2px black;

    font-family: bruceForever;
    text-transform: uppercase;
    text-align: center;
}

#progressBarContainer {
    display: flex;
    align-items: center;

    position: relative;

    box-sizing: content-box;

    width: 60%;
    height: 100%;

    background-color: #94b0a0;

    border: 2px solid #253335;
    border-radius: 5px;
}

/* Glass Effect */
#progressBarContainer::after {
    content: "";

    position: absolute;
    box-sizing: border-box;

    width: 270px;
    height: 30px;

    background: #FFFFFF50;

    border: 1px solid #FFFFFF80;
    border-radius: 5px;

    backdrop-filter: blur(0.4px);

    top: 0;
}

#progressBar {
    position: relative;

    height: 80%;

    background: repeating-linear-gradient(
        90deg,
        #94b0a0 0px 1px, black 1px 9px, #94b0a0  9px 10px 
    );
}

#progressBar::after {
    content: "";

    position: absolute;

    width: 270px;
    height: 100%;

    background: repeating-linear-gradient(
        90deg,
        #94b0a0 0px 1px, black 1px 9px, #94b0a0  9px 10px 
    );

    opacity: 0.1;
}


#stepItemContainer {
    display: flex;
    align-items: center;

    position: relative;
    box-sizing: content-box;

    width: 90%;
    height: 30%;

    background-color: #253335;

    border: 2px solid #253335;
    border-radius: 5px;

    box-shadow: 0 0 10px black;
}

/* Glass Effect */
#stepItemContainer::after {
    content: "";

    position: absolute;
    box-sizing: border-box;

    width: 450px;
    height: 45px;

    background: #FFFFFF50;

    border: 1px solid #FFFFFF80;
    border-radius: 5px;

    backdrop-filter: blur(0.4px);

    top: 0;
}

.stepItem {
    box-sizing: border-box;

    height: 80%;

    float: left;

    border: 1px solid #253335;

    opacity: 0.8;
}

.stepItem:first-child {
    border-radius: 5px 0 0 5px;
}

.stepItem:last-child {
    border-radius: 0 5px 5px 0;
}

.stepItem.active {
    opacity: 1;
    height: 100%;
    border: 1px solid white;
}