#stepSettingsButtons {
    margin-bottom: 5px;
}

#addPomodoroButton {
    background-color: var(--step-red);
}

#addBreakButton {
    background-color: var(--step-blue);
}

.stepSettingsItem {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    transition: opacity 0.2s ease-in-out, border-top 0.1s linear;
    border-radius: 10px;
    border-top: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
    width: 350px;
}

.stepSettingsItem.dragAboveIndicator {
    border-top: 2px solid blue;
}
.stepSettingsItem.dragBelowIndicator {
    border-bottom: 2px solid blue;
}

.stepSettingsItemName {
    width: 75px;
}

.stepSettingsItem img {
    width: 20px;
    height: 20px;
}

.stepSettingsItem img[alt="Remove Step"] {
    cursor: pointer;
}

.stepSettingsItem img[alt="Drag Handle"] {
    cursor: grab;
}

.stepSettingsItem img[alt="Drag Handle"]:active {
    cursor: grabbing;
}

.stepSettingsItem label {
    display: flex;
    gap: 10px;
}