* {
    /* border: 2px solid black; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #aaaaaa;
}

#root {
    display: flex;
    justify-content: center;

    /* border: 2px solid blue; */
}

@font-face {
    font-family: bruceForever;
    src: url('/src/assets/BruceForever.ttf') format('truetype');
}