* {
    /* border: 2px solid black; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #aaaaaa;
}

#root {
    display: flex;
    justify-content: center;

    /* border: 2px solid blue; */
}