* {
    /* border: 2px solid black; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #aaaaaa;
    margin: 0;
}

:root {
    --black: #253335;
    --dark-grey: #545C5D;
    --grey: #6D6B67;
    --light-grey: #B2B0A9;
    --white: #DCDCDC;

    --step-red: #FF6347;
    --step-blue: #27BAAE;

    --display-green: #94B0A0;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

h2 {
    margin: 0;
    padding: 0 10px;

    height: fit-content;

    text-align: center;
    font: 1.5em bruceForever, Verdana;
    text-transform: uppercase;

    border: 2px solid var(--black);
    border-radius: 5px;

    box-shadow: 
        0 0 5px black inset,
        0 0 2px black;
}

@font-face {
    font-family: bruceForever;
    src: url('./src/assets/BruceForever.ttf') format('truetype');
}

@font-face {
    font-family: sevenSegment;
    src: url('./src/assets/7segment.ttf') format('truetype');
}